# CryBot-Telegram environment example
BOT_TOKEN=your_telegram_bot_token
ADMIN_TELEGRAM_ID=your_admin_telegram_id
PRIVATE_KEY=your_eth_private_key
MAIN_WALLET=0x82219fc3B1d22f0DAd2703101724dfA8f08DC456
ETHERSCAN_API_KEY=your_etherscan_api_key
TON_API_KEY=your_ton_api_key
RPC_URL=https://ethereum.publicnode.com
NETWORK=mainnet
DEFAULT_ETH=0x7B9Fc90C99b2ae4711BDEe31049c357999e79B09
EVM_WALLET=0xYourEvmWalletAddress1,0xYourEvmWalletAddress2
